@charset "UTF-8";
html,
body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  html,
  body {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  html,
  body {
    max-width: 1280px;
  }
}

input {
  padding: 0;
}

.container {
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

header {
  height: 60px;
  background-color: #2f51b5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  /* .is-active {
    border-bottom: 2px solid #e81919;
  } */
}

@media screen and (min-width: 480px) {
  header {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  header {
    top: 0;
    height: 100px;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .container .header-logo img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  /* margin-top: 30px; */
}

@media screen and (min-width: 1280px) {
  header .container .header-logo img {
    max-width: 205px;
    height: auto;
  }
}

header .container .header-nav {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  header .container .header-nav {
    width: auto;
    margin-left: auto;
  }
}

header .nav-items {
  display: none;
  padding: 0;
  color: #ffffff;
  /* margin-top: 25px; */
  text-align: right;
}

@media screen and (min-width: 1280px) {
  header .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .nav-items .nav-item {
  padding-bottom: 8px;
  font-size: 14px;
  list-style: none;
}

header .nav-items .nav-item:not(:first-child) {
  margin-left: 40px;
}

@media screen and (min-width: 1280px) {
  header .nav-items .nav-item {
    /* pattern1*/
    /* pattern2
      padding: 0;
      text-align: center;
      width: 100px;
      height: 100px;
      */
    font-size: 15px;
  }
}

header .nav-items .nav-item a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* pattern2
      display: block;
      padding: 38px 0; 
      */
}

header .nav-items .nav-item a::after {
  content: "";
  position: absolute;
  /* patter1*/
  left: 0;
  bottom: -10px;
  /* pattern2
        left: 0;
        top: 0;
        */
  width: 100%;
  height: 2px;
  background-color: #e81919;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav-items .nav-item a.is-active::after {
  opacity: 1;
}

header .nav-items .nav-item a:hover::after {
  opacity: 1;
}

header .nav-items .nav-item {
  margin-top: 6px;
  /*  a {
        //display: inline-block;
        transition: all 0.3s;
        //transform: scale(1);
      } */
  /* animation: zoom 0.3s;
        @keyframes zoom {
          50% {
            transform: scale(1.1);
          }
        } */
}

header .nav-items .nav-item:first-child {
  margin-left: auto;
}

.top {
  width: 100%;
  height: 450px;
  margin-top: 60px;
  /* background-image: url("./../img/mainvisual.png");
  background-size: auto;
  background-size: cover; */
  text-align: center;
  /* height: 100vh; */
}

@media screen and (min-width: 1280px) {
  .top {
    width: 1280px;
    height: 600px;
    /* height: 100vh; */
    margin-top: 100px;
  }
}

.top .swiper-slide {
  position: relative;
  width: 100%;
  height: 450px;
  background: transparent url(../../img/mainvisual.png) no-repeat top center/cover;
}

@media screen and (min-width: 1280px) {
  .top .swiper-slide {
    width: 100%;
    height: 600px;
  }
}

.top h1 {
  padding: 150px 0 22px 0;
  margin: 0;
  font-size: 26px;
}

@media screen and (min-width: 480px) {
  .top h1 {
    padding: 160px 0 15px 0;
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .top h1 {
    padding: 170px 0 11px 0;
    font-size: 64px;
  }
}

.top p {
  margin: 0 0 30px 0;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .top p {
    margin: 0 0 35px 0;
    font-size: 22px;
    letter-spacing: 2px;
  }
}

.top .btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  max-width: 384px;
  height: 72px;
  border-radius: 8px;
  /* border-top: none;
  border-right: none;
  border-left: none; */
  border: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #2f51b5;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.top .btn:hover {
  opacity: 0.7;
}

.card {
  height: 100%;
  background-color: #efefef;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media screen and (min-width: 480px) {
  .card {
    height: 100%;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    height: 1042px;
    padding: 0;
  }
}

.card h2 {
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
}

@media screen and (min-width: 1280px) {
  .card h2 {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.card h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .card h2::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .card h2::after {
    bottom: -19px;
    width: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .card h2 {
    margin: 0 0 78px 0;
  }
}

.card .card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .card .card-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card .card-item {
  margin-top: 12px;
  background-color: #ffffff;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .card .card-item {
    margin: 12px auto 0;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .card .card-item {
    margin: 24px 0 0 0;
    width: 384px;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
}

.card .card-item img {
  padding: 12px;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .card .card-item img {
    padding: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-item img {
    padding: 16px 16px 12px 16px;
  }
}

.card .card-item h3 {
  padding: 0 12px;
  margin: 0;
  font-size: 20px;
  line-height: 1.1;
}

@media screen and (min-width: 480px) {
  .card .card-item h3 {
    padding: 0 12px;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-item h3 {
    padding: 0 16px;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

.card .card-item p {
  padding: 12px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 480px) {
  .card .card-item p {
    padding: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .card .card-item p {
    padding: 12px 16px;
    letter-spacing: 0.2px;
  }
}

.news h2 {
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
}

@media screen and (min-width: 1280px) {
  .news h2 {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.news h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .news h2::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .news h2::after {
    bottom: -19px;
    width: 60px;
  }
}

.news-list {
  margin: 0 auto 38px;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .news-list {
    width: 800px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  padding-bottom: 9px;
  border-bottom: 1px solid #707070;
}

@media screen and (min-width: 1280px) {
  .news-item {
    margin-top: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
  }
}

.news-item:not(:last-child) {
  border-bottom: 1px solid #707070;
  margin-bottom: 14px;
}

.news-item a {
  margin: 6px 0;
  padding-top: 5px;
  text-decoration: none;
  color: black;
}

.news-item .label {
  display: inline-block;
  margin: auto 0;
  padding: 5px 0;
  text-align: center;
  color: white;
  background-color: red;
  background-color: #666666;
  border-radius: 4px;
  width: 80px;
  height: 21px;
  letter-spacing: 3px;
}

.news-item .label:hover {
  opacity: 0.7;
}

.news-item .label2 {
  background-color: #3f51b5;
}

.news-item .label3 {
  background-color: #e81919;
}

.news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  margin-right: 20px;
}

.news-info time {
  display: inline-block;
  margin: auto 0;
  width: 105px;
  height: 16px;
}

.news-content {
  width: 100%;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.news-content:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1280px) {
  .news-content {
    width: calc(100% - 185px);
  }
}

.news-more {
  text-align: center;
  margin-bottom: 100px;
}

@media screen and (min-width: 480px) {
  .news-more {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .news-more {
    margin-bottom: 115px;
  }
}

.news-more .more-link {
  display: inline-block;
  margin: 0 auto;
  color: #e81919;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 16px;
  background: transparent url(./../../img/news-arrow.png) no-repeat center right;
}

.news-more .more-link:hover {
  opacity: 0.7;
}

.price {
  background-color: #efefef;
  height: 100%;
  padding-bottom: 100px;
}

@media screen and (min-width: 480px) {
  .price {
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .price {
    height: 565px;
  }
}

.price-title h2 {
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
  /* position: relative;
      text-align: center;

      @include mq("lg") {
        margin: 0 0 98px 0;
        padding-top: 72px;
        font-size: 42px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -14px;
        width: 40px;
        height: 4px;
        transform: translate(-50%);
        background-color: $background-color-blue;

        @include mq("md") {
          bottom: -18px;
          width: 45px;
        }

        @include mq("lg") {
          bottom: -19px;
          width: 60px;
        }
      } */
}

@media screen and (min-width: 1280px) {
  .price-title h2 {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.price-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .price-title h2::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .price-title h2::after {
    bottom: -19px;
    width: 60px;
  }
}

.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .price-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.price-img {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 1280px) {
  .price-img {
    margin: 0 40px 0 0;
  }
}

.price-img img {
  width: 100%;
}

.price-table {
  margin-top: 10px;
}

@media screen and (min-width: 1280px) {
  .price-table {
    margin: 0;
  }
}

.price-table table {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (min-width: 1280px) {
  .price-table table {
    width: 706px;
    height: 286px;
    font-size: 15px;
  }
}

.price-table tr {
  height: 20%;
}

.price-table td {
  border: 1px solid #707070;
}

.price-table td:first-child {
  text-align: center;
  color: #ffffff;
  background-color: #a7a1a1;
}

.price-table td:not(:first-child) {
  text-align: right;
  padding-right: 22px;
}

.price-table td p {
  margin: 0;
}

.price-table td .special {
  color: #e81919;
}

.price-table td .special-message {
  font-size: 12px;
  letter-spacing: 2px;
}

.price-table th {
  color: #ffffff;
  background-color: #a7a1a1;
  border: 1px solid #707070;
  font-weight: normal;
}

.price-table th:not(:first-child) {
  width: 38%;
}

@media screen and (min-width: 1280px) {
  .price-contact {
    margin: 8px 0 0 0;
    font-size: 15px;
    letter-spacing: -1px;
  }
}

.price-contact a {
  color: #333333;
}

.access {
  height: 100%;
  padding-bottom: 100px;
}

@media screen and (min-width: 480px) {
  .access {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .access {
    height: 926px;
    padding: 0;
  }
}

.access h2 {
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
}

@media screen and (min-width: 1280px) {
  .access h2 {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.access h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .access h2::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .access h2::after {
    bottom: -19px;
    width: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .access h2 {
    margin: 0 0 98px 0;
    padding-top: 96px;
  }
}

.access-content {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .access-content {
    max-width: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .access-content {
    max-width: 800px;
    margin-top: 110px;
    margin: 0 auto;
  }
}

.access-map {
  height: 150px;
}

@media screen and (min-width: 480px) {
  .access-map {
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .access-map {
    height: 400px;
  }
}

.access-map iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.access-address {
  margin: 14px 0 27px 0;
}

.access-address dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin: 0 0 10px 0;
}

.access-address dt {
  font-weight: bold;
}

.access-address dt span {
  display: inline-block;
  width: 64px;
}

.access-address dd {
  margin-left: 40px;
  letter-spacing: 1px;
}

.access-btn {
  width: 100%;
  max-width: 304px;
  height: 56px;
  border-radius: 8px;
  /* border-top: none;
  border-right: none;
  border-left: none; */
  border: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #2f51b5;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  background-image: url(./../../img/button-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  /* background: transparent url(./../../img/button-arrow.svg) no-repeat center
      right 10px ; */
}

.access-btn_wrapper {
  text-align: center;
}

.qa {
  height: 700px;
}

.qa h2 {
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
}

@media screen and (min-width: 1280px) {
  .qa h2 {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.qa h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .qa h2::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .qa h2::after {
    bottom: -19px;
    width: 60px;
  }
}

.qa-content {
  max-width: 900px;
  margin: 0 auto;
}

.qa-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  margin-top: 24px;
  background-color: #3f51b5;
  color: #ffffff;
  font-weight: bold;
  background-image: url(./../../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.qa-head.is-active {
  background-image: url(./../../img/minus.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.qa-head p {
  margin: 0 25px 0 0;
}

.qa-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: #3f51b5;
  font-weight: bold;
}

.qa-body_wrap {
  display: none;
  padding: 16px 20px;
  margin-bottom: 24px;
  border: 1px solid #3f51b5;
}

.qa-body p {
  margin: 0 25px 0 0;
}

.qa-plus_head {
  width: 300px;
  height: 60px;
  border: 1px solid #3f51b5;
  color: #3f51b5;
  border-radius: 30px;
  background-image: url(./../../img/arrow-bottom.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
  -webkit-transition: opacity 0.3s, background-color 0.3s;
  transition: opacity 0.3s, background-color 0.3s;
  position: relative;
}

.qa-plus_head.is-active {
  background-image: url(./../../img/arrow-top.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.qa-plus_head:hover {
  opacity: 0.7;
  background-color: #d4d0d0;
}

.qa-plus_head p {
  width: 120px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.qa-plus_body {
  display: none;
  width: 400px;
  color: #3f51b5;
}

.contact {
  height: 100%;
  background-color: #efefef;
}

@media screen and (min-width: 1280px) {
  .contact {
    height: 1253px;
  }
}

.contact h2 {
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
}

@media screen and (min-width: 1280px) {
  .contact h2 {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.contact h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .contact h2::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .contact h2::after {
    bottom: -19px;
    width: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .contact h2 {
    margin: 0 0 100px 0;
    padding-top: 94px;
  }
}

.contact-wrap {
  margin: 0 auto;
  background-color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .contact-wrap {
    width: 800px;
    height: 877px;
  }
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .contact form {
    padding: 60px 60px 66px;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 62px;
}

@media screen and (min-width: 1280px) {
  .contact-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-item input {
  letter-spacing: 1.6px;
}

.contact-item .necessary {
  position: relative;
  margin-right: auto;
}

.contact-item .necessary::after {
  content: "必須";
  position: absolute;
  top: 0;
  left: 120px;
  width: 44px;
  height: 22px;
  text-align: center;
  font-size: 14px;
  margin: auto 0;
  background-color: #e81919;
  color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 1280px) {
  .contact-item .necessary::after {
    top: 30px;
    left: 0;
  }
}

.contact-item .necessary P {
  margin: 0;
  width: 44px;
  height: 22px;
  text-align: center;
  background-color: #e81919;
  color: #ffffff;
  border-radius: 4px;
}

.contact-item label {
  display: block;
  margin-right: auto;
  margin-top: 8px;
}

.contact-item label:not([for="text"]) {
  margin: auto auto auto 0;
}

.contact-item select {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  height: 38px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent url(./../../img/select-arrow.png) no-repeat center right 10px;
}

@media screen and (min-width: 1280px) {
  .contact-item select {
    width: 518px;
  }
}

.contact-item .area {
  display: inline-block;
  width: 100%;
  height: 32px;
}

@media screen and (min-width: 1280px) {
  .contact-item .area {
    width: 516px;
  }
}

.contact-item #text {
  padding-bottom: 202px;
}

.contact-item_text {
  padding-bottom: 28px;
}

.contact-item_text input {
  letter-spacing: 1.8px;
  vertical-align: top;
}

.contact-item_radio {
  height: 17px;
  margin-bottom: 35px;
}

@media screen and (min-width: 1280px) {
  .contact-item_radio {
    margin-bottom: 65px;
  }
}

.contact-item_radio label {
  height: 17px;
}

.contact-item_radio input {
  display: none;
}

.contact-item_radio input + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0px 0 28px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .contact-item_radio input + span {
    padding: 0 36px 0 28px;
  }
}

.contact-item_radio input + span::before, .contact-item_radio input + span::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-item_radio input + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
}

.contact-item_radio input + span::after {
  background: #3f51b5;
  border: 1px solid transparent;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.contact-item_radio input:checked + span::after {
  opacity: 1;
}

.contact-item_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 30px;
}

.contact-item_check input {
  /* width: 25px;
        height: 25px;
        margin-right: 0px; */
  /* background: url(./../../img/checkbox.svg);
        background-repeat: no-repeat;
        background-position: center center; */
  display: none;
}

.contact-item_check input + span {
  display: inline-block;
  padding: 0 30px 0 30px;
  position: relative;
  font-size: 12px;
  margin: auto 0;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .contact-item_check input + span {
    padding: 0 0px 0 49px;
    font-size: 16px;
  }
}

.contact-item_check input + span::before, .contact-item_check input + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contact-item_check input + span::before {
  background: #fff;
  border: 1px solid #707070;
  width: 23px;
  height: 23px;
  left: 0;
}

.contact-item_check input + span::after {
  background: transparent url(./../../img/checkbox.png) no-repeat center center;
  width: 23px;
  height: 23px;
  left: 0;
  opacity: 0;
}

.contact-item_check input:checked + span::after {
  opacity: 1;
}

.contact-item_check a {
  vertical-align: middle;
  font-weight: bold;
  color: #333333;
}

.contact button {
  width: 100%;
  max-width: 280px;
  height: 54px;
  border-radius: 8px;
  /* border-top: none;
  border-right: none;
  border-left: none; */
  border: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #2f51b5;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  background-image: url(./../../img/button-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}

@media screen and (min-width: 480px) {
  .contact button {
    width: 100%;
    max-width: 304px;
    height: 54px;
    border-radius: 8px;
    /* border-top: none;
  border-right: none;
  border-left: none; */
    border: none;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    background-color: #2f51b5;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .contact button {
    width: 100%;
    max-width: 304px;
    height: 56px;
    border-radius: 8px;
    /* border-top: none;
  border-right: none;
  border-left: none; */
    border: none;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    background-color: #2f51b5;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(#666666, #333333);
  width: 100%;
  padding-bottom: 20px;
  font-size: 12px;
}

@media screen and (min-width: 480px) {
  footer {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    padding: 0;
    height: 258px;
    font-size: 16px;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
}

@media screen and (min-width: 1280px) {
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-info {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .footer-info {
    width: 20%;
    text-align: start;
  }
}

.footer-info_detail {
  margin-top: 30px;
  color: #ffffff;
}

.footer-info_detail p {
  margin: 0 0 10px 0;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.footer-logo {
  width: 100%;
  max-width: 100%;
  margin: 0;
  /* margin-top: 30px; */
}

@media screen and (min-width: 1280px) {
  .footer-logo {
    max-width: 205px;
    height: auto;
  }
}

.footer-nav {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .footer-nav {
    width: 60%;
  }
}

.footer-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* a {
      display: inline-block;
    }
    &_twitter {
      margin-left: auto;
    } */
}

@media screen and (min-width: 1280px) {
  .footer-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 20%;
  }
}

.footer-link img {
  height: 30px;
  margin-left: 10px;
}

.footer-link_wrap {
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .footer-link_wrap {
    margin: 0;
  }
}

.footer-copyright {
  margin: 34px 0 0 0;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

.nav-items {
  display: none;
  padding: 0;
  color: #ffffff;
  /* margin-top: 25px; */
}

@media screen and (min-width: 1280px) {
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-items .nav-item {
  padding-bottom: 8px;
  font-size: 14px;
  list-style: none;
}

.nav-items .nav-item:not(:first-child) {
  margin-left: 40px;
}

@media screen and (min-width: 1280px) {
  .nav-items .nav-item {
    /* pattern1*/
    /* pattern2
      padding: 0;
      text-align: center;
      width: 100px;
      height: 100px;
      */
    font-size: 15px;
  }
}

.nav-items .nav-item a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* pattern2
      display: block;
      padding: 38px 0; 
      */
}

.nav-items .nav-item a::after {
  content: "";
  position: absolute;
  /* patter1*/
  left: 0;
  bottom: -10px;
  /* pattern2
        left: 0;
        top: 0;
        */
  width: 100%;
  height: 2px;
  background-color: #e81919;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-items .nav-item a.is-active::after {
  opacity: 1;
}

.nav-items .nav-item a:hover::after {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .nav-items {
    margin: 0;
  }
}

.nav-items li {
  margin-top: 0;
}

.nav-items li:first-child {
  margin-left: 168px;
}

.scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 350;
  width: 300px;
  height: 750px;
  margin: 0 auto;
  padding: 10px 70px 10px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 600px;
    height: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 900px;
    height: 750px;
  }
}

.modal-batsu {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  margin: 60px 0;
  position: relative;
  text-align: center;
  padding-top: 52px;
  margin: 0 0 58px 0;
  font-size: 10px;
  color: #707070;
}

@media screen and (min-width: 1280px) {
  .modal-title {
    margin: 0 0 98px 0;
    padding-top: 92px;
    font-size: 42px;
  }
}

.modal-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #2f51b5;
}

@media screen and (min-width: 480px) {
  .modal-title::after {
    bottom: -18px;
    width: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-title::after {
    bottom: -19px;
    width: 60px;
  }
}

@media screen and (min-width: 480px) {
  .modal-title {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-title {
    font-size: 15px;
  }
}

.modal-content {
  color: #707070;
}

.modal-head {
  font-size: 12px;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .modal-head {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-head {
    font-size: 20px;
  }
}

.modal-head::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 4px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #3f51b5;
}

.modal-body {
  margin: 0;
  margin-bottom: 20px;
  font-size: 10px;
}

@media screen and (min-width: 480px) {
  .modal-body {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-body {
    font-size: 16px;
  }
}

.modal button {
  width: 100%;
  max-width: 176px;
  height: 48px;
  border-radius: 8px;
  /* border-top: none;
  border-right: none;
  border-left: none; */
  border: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #2f51b5;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  display: block;
  margin: 30px auto 0;
}

@media screen and (min-width: 480px) {
  .modal button {
    width: 100%;
    max-width: 176px;
    height: 48px;
    border-radius: 8px;
    /* border-top: none;
  border-right: none;
  border-left: none; */
    border: none;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    background-color: #2f51b5;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .modal button {
    width: 100%;
    max-width: 176px;
    height: 48px;
    border-radius: 8px;
    /* border-top: none;
  border-right: none;
  border-left: none; */
    border: none;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    background-color: #2f51b5;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  opacity: 0.7;
}

.modal-background.is-show {
  display: block;
}

.modal.is-show {
  display: block;
}
