body {
  font-family: "Yu-gothic";
  width: $sm-canvas-width;
  margin: 0 auto;

  @include mq("md") {
    width: $md-canvas-width;
    max-width: $md-canvas-width;
  }

  @include mq("lg") {
    width: $lg-canvas-width;
    max-width: $lg-canvas-width;
  }
}

input {
  padding: 0;
}

.container {
  width: $sm-container-width;
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0 auto;

  @include mq("lg") {
    width: $lg-container-width;
    margin: 0 auto;
  }
}
