.access {
  height: 100%;
  padding-bottom: 100px;

  @include mq("md") {
    padding-bottom: 100px;
  }

  @include mq("lg") {
    height: 926px;
    padding: 0;
  }

  h2 {
    @include underbar();

    @include mq("lg") {
      margin: 0 0 98px 0;
      padding-top: 96px;
    }
  }

  &-content {
    max-width: 300px;
    margin: 0 auto;

    @include mq("md") {
      max-width: 600px;
    }

    @include mq("lg") {
      max-width: 800px;
      margin-top: 110px;
      margin: 0 auto;
    }
  }

  &-map {
    height: 150px;

    @include mq("md") {
      height: 300px;
    }

    @include mq("lg") {
      height: 400px;
    }

    iframe {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }

  &-address {
    margin: 14px 0 27px 0;

    dl {
      display: flex;
      font-size: 15px;
      margin: 0 0 10px 0;
    }

    dt {
      font-weight: bold;
      span {
        display: inline-block;
        width: 64px;
      }
    }

    dd {
      margin-left: 40px;
      letter-spacing: 1px;
    }
  }

  &-btn {
    @include btn(304px, 56px, 16px);
    background-image: url(./../../img/button-arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    /* background: transparent url(./../../img/button-arrow.svg) no-repeat center
      right 10px ; */

    &_wrapper {
      text-align: center;
    }
  }
}
