.card {
  height: 100%;
  background-color: $background-color-gray;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;

  @include mq("md") {
    height: 100%;
    padding-bottom: 80px;
  }

  @include mq("lg") {
    height: 1042px;
    padding: 0;
  }

  h2 {
    @include underbar();

    @include mq("lg") {
      margin: 0 0 78px 0;
    }
  }

  .card-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include mq("md") {
      flex-direction: row;
    }

    @include mq("lg") {
      flex-direction: row;
    }
  }

  .card-item {
    margin-top: 12px;
    background-color: #ffffff;
    width: 100%;

    @include mq("md") {
      margin: 12px auto 0;
      width: calc((100% - 24px) / 2);
    }

    @include mq("lg") {
      margin: 24px 0 0 0;
      width: 384px;
    }

    &:not(:nth-child(3n)) {
      @include mq("lg") {
        margin-right: 24px;
      }
    }

    img {
      padding: 12px;
      //max-width: 100%;
      width: 100%;
      height: auto;
      box-sizing: border-box;

      @include mq("md") {
        padding: 12px;
      }

      @include mq("lg") {
        padding: 16px 16px 12px 16px;
      }
    }

    h3 {
      padding: 0 12px;
      margin: 0;
      font-size: 20px;
      line-height: 1.1;
      @include mq("md") {
        padding: 0 12px;
      }

      @include mq("lg") {
        padding: 0 16px;
        font-size: 18px;
        letter-spacing: 2px;
      }
    }

    p {
      padding: 12px;
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      @include mq("md") {
        padding: 12px;
      }

      @include mq("lg") {
        padding: 12px 16px;
        letter-spacing: 0.2px;
      }
    }
  }
}
