header {
  height: $sm-header-height;
  background-color: $background-color-blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;

  @include mq("md") {
    width: $md-canvas-width;
    max-width: $md-canvas-width;
  }

  @include mq("lg") {
    top: 0;
    height: $lg-header-height;
  }

  .container {
    display: flex;
    align-items: center;

    @include mq("lg") {
      flex-direction: row;
    }

    .header-logo img {
      @include logo;
    }

    .header-nav {
      width: 100%;
      @include mq("lg") {
        width: auto;
        margin-left: auto;
      }
    }
  }

  .nav-items {
    @include nav-style;
    text-align: right;

    .nav-item {
      margin-top: 6px;

      /*  a {
        //display: inline-block;
        transition: all 0.3s;
        //transform: scale(1);
      } */

      a:hover {
        //pattern1
        //transition: red 0.3s;

        //pattern2
        //color: black;
        //background-color: #2ecc71;

        //pattern3
        //transform: scale(1.2, 1.2);

        //pattern4
        /* animation: zoom 0.3s;
        @keyframes zoom {
          50% {
            transform: scale(1.1);
          }
        } */

        //pattern5
        //transform: rotate(5deg);

        //pattern6
      }
    }

    .nav-item:first-child {
      margin-left: auto;
    }
  }

  /* .is-active {
    border-bottom: 2px solid #e81919;
  } */
}
