header {
  height: $sm-header-height;
  background-color: $background-color-blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  @include mq("lg") {
    top: 0;
    left: 40;
    height: $lg-header-height;
  }

  .container {
    display: flex;
    align-items: center;

    @include mq("lg") {
      flex-direction: row;
    }

    .header-logo img {
      @include logo;
    }

    .header-nav {
      width: 100%;
      @include mq("lg") {
        width: auto;
        margin-left: auto;
      }
    }
  }

  .nav-items {
    @include nav-style;
    text-align: right;

    .nav-item {
      margin-top: 6px;
    }

    .nav-item:first-child {
      margin-left: auto;
    }
  }

  /* .is-active {
    border-bottom: 2px solid #e81919;
  } */
}
