.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 350;
  width: 300px;
  height: 750px;
  margin: 0 auto;
  padding: 10px 70px 10px;
  background-color: $color-white;
  box-sizing: border-box;

  @include mq("md") {
    width: 600px;
    height: 600px;
  }

  @include mq("lg") {
    width: 900px;
    height: 750px;
  }

  &-batsu {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
  }

  &-title {
    text-align: center;
    margin: 60px 0;
    @include underbar();
    font-size: 10px;
    color: #707070;

    @include mq("md") {
      font-size: 12px;
    }

    @include mq("lg") {
      font-size: 15px;
    }
  }

  &-content {
    color: #707070;
  }

  &-head {
    font-size: 12px;
    margin-bottom: 10px;
    position: relative;

    @include mq("md") {
      font-size: 15px;
    }

    @include mq("lg") {
      font-size: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      width: 4px;
      height: 20px;
      transform: translateY(-50%);
      background-color: #3f51b5;
    }
  }

  &-body {
    margin: 0;
    margin-bottom: 20px;
    font-size: 10px;

    @include mq("md") {
      font-size: 12px;
    }

    @include mq("lg") {
      font-size: 16px;
    }
  }

  button {
    @include btn(176px, 48px, 16px);
    padding: 0;
    display: block;
    margin: 30px auto 0;

    @include mq("md") {
      @include btn(176px, 48px, 16px);
    }

    @include mq("lg") {
      @include btn(176px, 48px, 16px);
    }
  }

  &-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    opacity: 0.7;

    &.is-show {
      display: block;
    }
  }

  &.is-show {
    display: block;
  }
}
